.chart_wrapper
  min-height: 400px
  +boxify
  .spinner
    text-align: center
    padding-top: 140px
    padding-bottom: 230px
    font-weight: bold
    h3
      margin-top: 10px

.time_tab
  float: right
  margin: -76px 6px 0 0

.slider
  margin: -43px 0px 25px