#stock-search
  $font-size: 24px

  $input-padding-vertical: 10px
  $input-padding-horizontal: 10px

  input.stock-name
    font-size: $font-size
    padding: $input-padding-vertical $input-padding-horizontal
    width: 600px
    height: 40px

    // fix placeholder misalignment with input text
    $placeholder-padding-top: $input-padding-vertical - 3px
    &:-moz-placeholder
      padding-top: $placeholder-padding-top
    &::-webkit-input-placeholder
      padding-top: $placeholder-padding-top

  button
    font-size: $font-size
    height: 60px
    margin-left: 10px

  .ui-autocomplete-loading
    background: asset-url("textbox_spinner.gif", image) 98% center no-repeat

.ui-autocomplete
  li, li:hover
    font-weight: bold
    .tip
      float: right
      color: #0073cc
    small
      font-size: 10px
      font-weight: normal
    #ui-active-menuitem
      font-weight: bold
