.stock-trend
  .trend-direction, .stock-symbol, .current-price, .percent-change
    margin-right: 10px

  &.trending-up
    .point-change, .percent-change
      color: green
  &.trending-down
    .point-change, .percent-change
      color: red

  .trend-direction

  .stock-symbol

  .current-price
    font-size: 1.2rem

  .point-change

  .percent-change
    font-size: 0.8rem


.trending-up  
  .trend-direction
    background: image-url('up.png') no-repeat 0 2px
    width: 14px
    height: 14px
    display: block
    float: left
    padding: 0

.trending-down   
  .trend-direction
    background: image-url('down.png') no-repeat 0 2px
    width: 14px
    height: 14px
    display: block
    float: left
    padding: 0
