.stock-trend
  .trend-direction, .stock-symbol, .current-price, .percent-change
    margin-right: 10px
  
  &.trending-up
    color: green
  &.trending-down
    color: red

  .trend-direction
  
  .stock-symbol

  .current-price
    font-size: 1.2rem
  
  .percent-change
    font-size: 0.8rem
