.stock-trend
  .trend-direction, .stock-symbol, .current-price, .percent-change
    margin-right: 10px

  &.trending-up
    color: green
  &.trending-down
    color: red

  .trend-direction

  .stock-symbol

  .current-price
    font-size: 1.2rem

  .percent-change
    font-size: 0.8rem

.price-info
  text-align: right
  margin: 10px 0
  #buy_price_calculation, #buy_price, #cash_after_purchase_calculation, #current_cash
    font-weight: bold
    font-size: 14px
    margin-right: 0
  .negative
    color: #cc0000
  #cash_after_purchase_calculation
    font-size: 16px

.order_form
  width: 380px


