<script type='text/x-handlebars' data-template-name='application'>

<div class="row">
  <div class="span12">
    <h1>{{stock.name}}</h1>
    {{view App.StockTrendView}}
  </div>
</div>

<br />

<div class="row">
  <div class="span10">{{outlet graphOutlet}}</div>
  <div class="span2">{{outlet stockListOutlet}}</div>
</div>

{{#with stock}}
  {{view App.StockTableView}}
{{/with}}

</script>
