<script type='text/x-handlebars' data-template-name='application'>
<h1>MyWinningTrade</h1>

<div class="row">
  <div class="span8">{{outlet graphOutlet}}</div>
  <div class="span4">{{outlet stockListOutlet}}</div>
</div>

</script>
