<script type='text/x-handlebars' data-template-name='application'>

<div class="row">
  <div class="span12">
    <h1>{{stock.name}}</h1>
    {{stock}}
  </div>
</div>

<br />

<div class="row">
  <div class="span8">{{outlet graphOutlet}}</div>
  <div class="span4">{{outlet stockListOutlet}}</div>
</div>

</script>
