<script type='text/x-handlebars' data-template-name='graph_view'>
    

  <div class="chart_wrapper">
    <div class="btn-group">
      <button class='btn' {{action viewHistorical target="controller"}}>Historical</button>
      <button class='btn' {{action viewIntraday target="controller"}}>Intraday</button>
    </div>

    {{#if loadedStocksIsEmpty}} <progress></progress> {{/if}}

   <div class="chart"></div>

  </div>
</script>
