<script type='text/x-handlebars' data-template-name='graph_view'>
  <a {{action viewHistorical target="view"}}>Historical</a>
  <a {{action viewIntraday target="view"}}>Intraday</a>
  <div class="chart"></div>
</script>
