<script type='text/x-handlebars' data-template-name='graph'>
<div class="chart_wrapper">

  {{#if stocksIsEmpty}}
    <progress></progress>
  {{/if}}

  {{#unless stocksIsEmpty}}
    <div class="btn-group time_tab">
      <button {{bindAttr class="buttonHistoricalClasses"}} {{action toggleCurrentPeriod target="controller"}} data-period='historical'>Historical</button>
      <button {{bindAttr class="buttonLiveClasses"}} {{action toggleCurrentPeriod target="controller"}} data-period='live'>Intraday</button>
    </div>
    <hr />
  {{/unless}}

 <div class="slider"></div>

 <div class="chart"></div>

</div>
</script>
