<script type='text/x-handlebars' data-template-name='graph'>
<div class="chart_wrapper">
<p>adfkl</p>
  {{#if stocksIsEmpty}}
    <progress></progress>
  {{else}}
    <div class="btn-group">
      <button {{bindAttr class="buttonHistoricalClasses"}} {{action toggleCurrentPeriod target="controller"}} data-period='historical'>Historical</button>
      <button {{bindAttr class="buttonLiveClasses"}} {{action toggleCurrentPeriod target="controller"}} data-period='live'>Intraday</button>
    </div>
    <hr />
  {{/if}}

 <div class="chart"></div>

</div>
</script>
