<script type='text/x-handlebars' data-template-name='stock_item'>
<span class='label'>COLOR</span>

<strong>{{id}}</strong>

{{#if isLoaded}}
  {{name}}
  <span class='current-price'>{{dollars current_price}}</span>
  <span class='percent-change'>{{earnings_share}}</span>
{{else}}
  <progress></progress>
{{/if}}

{{#unless isMain}}
<a {{action removeStock target="view" href="true"}}>&times;</a>
{{/unless}}

</script>
