<script type='text/x-handlebars' data-template-name='stock_item'>
<strong>{{id}}</strong>

{{#if isLoaded}}
  {{name}}
{{else}}
  <progress></progress>
{{/if}}

{{#unless isMain}}
<a {{action removeStock target="view" href="true"}}>&times;</a>
{{/unless}}

</script>
