<script type='text/x-handlebars' data-template-name='stock_table'>
<div class="row">
  <div class="span12">
    <table class="table table-striped table-compact boxify">
      <tbody>
        <tr>
          <th>Stock Exchange</td><td>{{stock_exchange}}</td>
          <th>EPS Estimate Current Year</th><td>{{eps_estimate_current_year}}</td>
          <th>Dividend Yield</th><td>{{dividend_yield}}</td>
        </tr>
        <tr>
          <th>Earnings Share</th><td>{{earnings_share}}</td>
          <th>EPS Estimate Next Year</th><td>{{eps_estimate_next_year}}</td>
          <th>Days Range</th><td>{{days_range}}</td>
        </tr>
        <tr>
          <th>EPS Estimate Next Quarter</th><td>{{eps_estimate_next_quarter}}</td>
          <th>Open</th><td>{{open}}</td>
          <th>Previous Close</th><td>{{previous_close}}</td>
        </tr>
        <tr>
          <th>Last Trade Time</th><td>{{last_trade_time}}</td>
          <th>Volume</th><td>{{volume}}</td>
          <th>Year Range</th><td>{{year_range}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</script>