<script type='text/x-handlebars' data-template-name='stock_list'>

<h3>Compare Stocks</h3>

{{view Ember.TextField classNames="autocomplete span3" placeholder="Start typing a stock name.."}}

<ul class='stock-compare'>
  {{#each stocks}}
    {{view App.StockItemView}}
  {{/each}}
</ul>

</script>
