<script type='text/x-handlebars' data-template-name='stock_item'>
<span class='label'>COLOR</span>

<strong>{{id}}</strong>

{{#unless isMain}}
<a class="close" {{action removeStock target="view" href="true"}}>&times;</a>
{{/unless}}


{{#if isLoaded}}
  {{name}}
  {{view App.StockTrendView stockBinding="this" templateName="stock_trend_small"}}
{{else}}
  <progress></progress>
{{/if}}


</script>
