<script type='text/x-handlebars' data-template-name='stock_trend'>
  <span class='trend-direction'>{{trend_direction}}</span>
  <span class='stock-symbol'>{{symbol}}</span>
  <span class='current-price'>{{dollars current_price}}</span>
  <span class='point-change'>{{point_change}}</span>
  <span class='percent-change'>({{percent_change}}%)</span>
</script>
