<script type='text/x-handlebars' data-template-name='stock_list'>

<h3>Compare stocks</h3>

{{view Ember.TextField classNames="autocomplete" placeholder="Start typing a stock name.."}}

<ul>
  {{#each stocks}}
    {{view App.StockItemView}}
  {{/each}}
</ul>

</script>
