$('.student-search-results').empty().html(
    "<div>" +
      "<% if @group_users %>" +
        "<% @group_users.each do |group_user| %>" +
          "<h1><%= group_user.name %></h1>" +
        "<% end %>" +
      "<% end %>" +
    "</div>");

//alert("asdf");