.stock-info
  margin: 0
  padding: 0
  margin-top: 20px
  position: absolute
  top: 10px
  right: 0
  left: 0
  width: 94.7%
  margin-left: auto
  margin-right: auto

  .col-md-3
    list-style-type: none
    float: left
    padding: 1em
    background-color: #ffffff
    padding-bottom: 0.5em
    padding-top: 0.5em
    margin-right: 1%
    width: 24%

    &.no-background
      background-color: transparent
      margin: 0
      padding: 0
      float: right

    span.header
      font-size: 14px
      color: $gray

    span.subheader
      font-size: 16px
      font-weight: bold

      &.black
        color: $black

    .button
      height: 56px
      display: table-cell
      text-align: center
      vertical-align: middle
      padding-top: 0.8em
      font-size: 18px
      color: #ffffff
      background-color: #4D4D4D
      margin-right: 4%
      width: 48%

      &.right
        margin-right: 0
        float: right

.content
  .headers-table
    width: 95%
    margin-top: 2em
    background-color: $darkGray
    margin-left: auto
    margin-right: auto

    th
      padding: .5em
      padding-left: 1em
      font-size: 16px
      color: $white
      font-weight: 300

    &.transactions
      width: 80%

      th
        background-color: $midGray

      tbody
        color: $midGray

  .trading-link
    color: $lightGray
    span
      margin-left: auto
      margin-right: auto
      text-align: center
      display: block
      width: 80%
      background-color: $darkGray
      padding-top: 1em
      padding-bottom: 1em
      font-size: 18px

  .portfolio
    width: 95%
    margin-left: auto
    margin-right: auto
    margin-top: 0.8em

    .divider-big
      height: 10px
      background-color: $lighterGray

    .divider-mid
      height: 5px
      background-color: $lighterGray

    .divider-small
      height: 2px
      background-color: $lighterGray

    .values-table
      width: 100%
      background: white none repeat scroll 0% 0%
      margin-bottom: .1em

      td
        padding: 0.6em 0px 0.6em 0.6em
        padding-left: 1.5em

      .stock-name,
      .stock-current_price,
      .stock-cost_basis,
      .user_stock-shares_owned
        color: $black
        font-weight: 400

      .stock-symbol
        color: $darkGray
        font-weight: 800
        cursor: pointer

      .stock-history-rating
        text-align: center

        .arrow-img
          float: left
          width: 15%
          margin-left: 2em

        .dropdown-icon
          width: 18%
          height: auto
          display: block
          float: right
          margin-right: 1em
          cursor: pointer

