#portfolio_holder
  +boxify
  margin: 15px 0
  ul#portfolio
    margin: 0
    +no-bullets
    li
      padding: 5px 0
      border-bottom: 1px solid #e4e4e4
      &:hover
        background: #efefef
      .portfolio-cell
        +inline-block
        padding: 0 3px
        margin-right: 10px
        &.stock-name
          width: 280px
        &.stock-symbol
          width: 150px
        &.user_stock-shares_owned
          width: 50px
          text-align: center
        &.stock-current_price
          width: 100px
        &.stock-current_value
          width: 100px