#stock-search
  form.form-inline
    input.stock_name type='text' placeholder=t('.symbol_placeholder', default: 'Enter a stock name') value=params[:id].try(:upcase)
    input.btn.btn-primary type='submit' value=t('.go', default: 'Go')