#stock-search
  form.form-inline
    input type='text' placeholder=t('.symbol_placeholder', default: 'Enter a stock name') value=params[:symbol]
    input.btn.btn-primary type='submit' value=t('.go', default: 'Go')
