= f.input :when, :collection => ["At Market", "Future", "Stop-Loss"], :label => "Type of Order", :as => :radio_buttons, :checked => "At Market", :input_html => { "data-type" => order_type, "data-radio" => "when-radio" } 
