= render partial: 'stock/search'
= render partial: 'stock/suggest'
= render partial: 'account/portfolio'
= render partial: 'account/upcoming_transactions'
= render partial: 'account/pending_positions'
= render partial: 'account/processed_positions'
