<h1>list of stocks</h1>

{{view Ember.TextField classNames="autocomplete"}}

<ul>
  {{#each stocks}}
    {{#view App.StockItemView}}
  	    {{name}}
  	    <a {{action deleteStock target="controller"}}>delete</a>
    {{/view}}
  {{/each}}
</ul>
