/* Colors */

$black: #1A1A1A
$white: #ffffff
$darkGray: #333333
$contentBackground: #E6E6E6
$gray: #808080
$lightGray: #999999
$lighterGray: #E6E6E6
$secondary-navbar-links-gray: #B3B3B3
$input-border-gray: #C1C1C1
$separatorGray: #4D4D4D
$footer-gray: #EAEAEA
$green: #39B54A
$red: #EF3D20
$highBlue: #3EA8E5
$midBlue: #38A1E2
$lowBlue: #329ADE