ul#flash
  $padding: 10px
  margin: 0

  +no-bullets

  li
    margin: 10px 0
    padding: $padding
    background-color: transparent
    font-weight: bold

  .alert
    background-color: #ffefef
    color: #cc0000
    border: 1px solid #ffefef
  .notice
    background-color: #efffef
    color: #33a033
    border: 1px solid #efffef
