footer
  position: absolute
  bottom: 0
  right: 15px
  left: 15px
  background-color: $darkGray
  width: 94.7%
  margin-left: auto
  margin-right: auto

  .footer-tabs
    padding: 0
    .col-md-2-custom
      float: left
      width: 16.66666667%
      font-size: 0.9vw
      color: $secondary-navbar-links-gray
      width: 16.6666%
      color: $lightGray
      padding: 1.4em

      span
        color: $footer-gray

      img
        float: left
        margin-top: 6%
        margin-right: 6%
        padding-left: 1.5em
        height: auto
        width: 30%

      .button
        margin-right: 1.5em
        width: 100%
        height: auto
        background-color: transparent
        border: 1px solid $lightGray
        color: $lightGray
        font-size: 0.9vw
        border-radius: 0
        a
          color: inherit
        img
          margin-top: 3%
          position: absolute
          left: 24%
          top: 30%
          padding-left: 0
