.class-options-box
  .btn:first-child
    margin-left: 80px
  .btn
    margin-right: 70px

.create-class-link-btn
  margin-top: 20px
  margin-left: 30px

.list-of-classes-table-head
  background-color: #f9f9f9

//.add-student-btn


//.create-class-btn

// Apart of new class form
.class-name-input-field
  position: relative
  bottom:  60px

.student-search-input-field
  position: relative
  top:  90px

.add-student-btn
  position: relative
  left:  230px
  top:  30px

.remove-student-btn
  margin-left: 25px


// Apart of edit form for the groups/edit page
.edit-delete-student-btn
  margin-left: 35px

.edit-student-search-input-field
  position: relative
  top:  100px

.edit-class-name-input-field
  position: relative
  bottom:  50px
  left: 20px

.edit-add-student-btn
  position: relative
  left:  250px

.edit-class-submit-btn
  position: relative
  top:  270px
  right: 300px