.class-options-box
  .btn:first-child
    margin-left: 80px
  .btn
    margin-right: 70px

.create-class-link-btn
  margin-top: 20px

.list-of-classes-table-head
  background-color: #f9f9f9

//.add-student-btn


.create-class-btn
  position: relative
  top:  160px

.class-name-input-field
  position: relative
  bottom:  60px

.student-search-input-field
  position: relative
  top:  90px

.add-student-btn
  position: relative
  left:  120px
  top:  30px