/* Font styles and classes */
$sansFontFamily: 'Open Sans', sans-serif

.extra-bold
  font-weight: 800

.bold
  font-weight: 700

.uppercase
  text-transform: uppercase

.green
  color: $green

.red
  color: $red

.green-background
  background-color: $green!important

.font-size-14
  font-size: 14px

.font-size-16
  font-size: 16px

.font-size-17
  font-size: 17px

.font-size-18
  font-size: 18px

.color-lightGray
  color: $lightGray

.color-separatorGray
  color: $separatorGray

.color-darkGray
  color: $darkGray

.absolute-span
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.box-min-height
  min-height: 298px
  margin-bottom: 2em

.no-margin
  margin: 0

.no-margin-top
  margin-top: 0!important

.no-padding
  padding: 0!important

.width-10-percent
  width: 10%

.table-layout-fixed
  table-layout: fixed

.cursor-pointer
  cursor: pointer