.mainnav
  background-color: $darkGray
  padding-left: 0
  padding-right: 0

  .navbar
    padding: 0
    margin: 0

    li
      padding-top: 1em
      padding-bottom: 1em
      font-size: 18px
      color: $lightGray
      padding-left: 10px
      border-top: 2px solid $separatorGray
      border-bottom: 2px solid $separatorGray

      &.active
        border-left: 4px solid $green
        background-color: $black
        color: $white

      &.navbar-secondary-text
        font-size: 14px
        color: $lighterGray

      &.brand
        padding-left: 30px
        border-top: 0

      &.last
        border-bottom: 0

      .input-group
        width: 97%

        input
          border-radius: 5px

      .users-name
        font-size: 14px
        color: $lighterGray
        font-weight: 400

      p
        padding-top: 5px
        margin-bottom: 0px

      a
        color: $lighterGray
        text-decoration: none

      img
        padding-right: 15px


