- if signed_user and @portfolio
  = raw EnvolveChat::ChatRenderer.get_html '82002-RJboqLzaEcx8kCcIrihjxDvkJgyQAbqW', first_name: envolve_name_for(signed_user,@portfolio)

javascript:
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27831363-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


javascript:
  (function() {
    var tu = document.createElement('script'); tu.type = 'text/javascript'; tu.async = true;
    tu.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dpi1c6z6qg9qf.cloudfront.net/client/tutorialize.js.gz';
    var sc = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(tu, sc);
  })();
  var _t = _t || [];
  _t.push = function(){if(typeof window.tutorialize !== 'undefined'){window.tutorialize.process(arguments[0]);}
  return Array.prototype.push.apply(this, arguments);};
  _t.push({publisher_id: '5155d5a94e5fe1e7ef002e8f'});
  _t.push({user_id:'<%= escape_javascript signed_user.id %>'});
