.second
  form
    .info-box
      margin-top: 2em
      header
        padding: 0.5em
        background-color: $darkGray
        color: white
        font-weight: bold
        font-size: 16
        padding-left: 1.5em
      .main
        background-color: white
        padding: 1.5em

        #teacher_request
          margin-right: .5em

        img
          margin-right: 1em

        input
          border: 0px
          border-bottom: 1px solid $input-border-gray
          font-size: 16px
          color: $separatorGray
          width: 92%

          &.sign-up-user-submit-btn
            width: 100%
            border-radius: 0
            background-color: $green
            color: white


#profile
  +boxify
  padding: 15px
  margin-top: 30px
  width: 910px

  .row
    padding-bottom: 25px

  .tab-content
    background: #FFF
    width: 890px
    margin-left: 0px
    border: 1px solid rgba(154, 171, 187, 0.6)

  .tab-pane
    margin-top: 20px
    padding-bottom: 30px

  .nav-tabs
    border-bottom: none

  li.active
    border-bottom: 1px solid #FFF

  .btn-primary
    margin-left: 10px
